{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/wagtail_gallery.css' %}">
{% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    <div class = "container">
      <div class="row">
        {% for subpage in gallery_subpages %}
          {% with subpage=subpage.specific %}
                {% with subpage.main_image as main_image %}

                  <div class = "image_container remove-all-margin-padding col-4 col-md-4 col-lg-3 col-xl-2">

                      <a href="{% pageurl subpage %}">
                        {% if main_image %}
                          {% image main_image fill-350x350 as image %}
                          <div>
                            <img src="{{ image.url }}" alt="Image not found" class = "img-fluid full-size"/>
                          </div>
                        {% endif %}
                      </a>

                  </div>

                {% endwith %}
          {% endwith %}
        {% endfor %}
      </div>
    </div>

{% endblock %}
