{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/wagtail_gallery.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
    <style>
      body{
        background-image: url("{%  static 'images/white-waves.png'  %}");
      }
    </style>
{% endblock %}

{% block content %}

    <div class="intro"> {{ page.body|richtext }} <a href="{{ page.get_parent.url }}" class = "back_to_homepage">Return to homepage</a> </div>



    <main class = "image_grid_container">
      <div class = "container">
        <div class="row image_grid">

          {% for item in page.gallery_images.all %}
            <div class = "image_container col-4 col-md-4 col-lg-3 col-xl-2 image_container">

              {% image item.image fill-300x300 as miniature %}
              {% image item.image width-1500 as big_image %}
              <div class = "image_div">

                <!-- <img src="{{ image.url }}" alt="Image not found" class = "img-fluid full-size image" data-imagebox="gallery" /> -->
                <img src="{{ miniature.url }}" alt="Image not found" class = "img-fluid full-size image" data-imagebox="gallery" data-imagebox-src="{{ big_image.url }}">

              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </main>



{% endblock %}
