body{
  background-color: #525252;
  text-align: center;
}

.image_grid{
  border-left:5px solid white;
  border-top:5px solid white;
}

.image_grid > * {
  padding: 0 ! important;
}

.image_container{
  border-right:5px solid white;
  border-bottom:5px solid white;
}

.image{
  border:2px solid pink;
}

.intro{
  padding: 100px;
}
