body{
  background-color: #525252;
  text-align: center;
  font-family: 'Baloo Bhai', cursive;
}

a{
  decoration: none;
  color: #000;
}

ul{
  list-style-position: inside;
  font-style: italic;
}

.image_grid > * {
  padding: 5px 5px 5px 5px ! important;
}

h2, h3, h4::after{
  margin-bottom: 6vh;
}

.subpage-header{
  margin-top: 12vh;
}

.back_to_homepage{
  margin-bottom: 5vh;
  margin-top: 7vh;
  font-size: 21px;
  text-decoration: underline;
}

.intro-home{
  margin-top: 12vh;
  margin-bottom: 4vh;
}

.subpage-body-text{
  font-size: 20px;
}

.image{
  /* opacity: 0.95; */
  transition: all .4s linear;
  border-radius: 5px;
}

.image:hover{
  /* opacity: 1; */
  transform: scale(1.1);
}

.image_div{
  overflow: hidden;
}

@media only screen and (max-width: 576px) {
  body{
    padding: 0px 15px;
    padding-bottom: 150px;
  }
}
@media only screen and (max-width: 768px) {
  body{
    padding: 0px 40px;
    padding-bottom: 200px;
  }
}
@media only screen and (max-width: 992px) {
  body{
    padding: 0px 40px;
    padding-bottom: 200px;
  }
  .subpage-body-text{
    font-size: 21px;
  }
  .intro-home{
    font-size: 21px;
  }
}
@media only screen and (max-width: 1200px) {
  .subpage-body-text{
    font-size: 22px;
  }
  .intro-home{
    font-size: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  body{
    padding: 0px 100px;
    padding-bottom: 250px;
  }
  .subpage-body-text{
    font-size: 23px;
  }
  .intro-home{
    font-size: 23px;
  }
}
@media only screen and (min-width: 1500px) {
  body{
    padding: 0px 150px;
    padding-bottom: 300px;
  }
  .subpage-body-text{
    font-size: 23px;
  }
  .intro-home{
    font-size: 23px;
  }
}
